<div class="container-lg py-5">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Employee <b>List</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" (click)="handleButtonClick()"><i class="fa fa-plus" ></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover display nowrap scrollbar2 mt-3" id="datatableexample">
                <thead style="background-color: #c44e4e; vertical-align: middle;">
                  <tr>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Status</th>
                    <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let group of dataSource">
                       <td>{{group.firstName}}</td>
                       <td>{{transform(group.basicSalary)}}</td>
                       <td>{{group.status}}</td>
                       <td>
                        <div class="text-center">
                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit" (click)="openDetailModal(group)"><i class="material-icons">visibility</i></a>
                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons"></i></a>
                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete" (click)="openDetailDeleteModal(group)"><i class="material-icons"></i></a>
                    </div>
                </td>
    
                      
                   </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


