<div class="container-lg py-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>Employee <b>List</b></h2>
          </div>
          <div class="col-sm-4">
            <button
              type="button"
              class="btn btn-info add-new"
              (click)="handleButtonClick()"
            >
              <i class="fa fa-plus"></i> Add New
            </button>
          </div>
        </div>
      </div>
      <table
        class="table table-bordered table-hover display nowrap scrollbar2 mt-3"
        id="datatableexample"
      >
        <thead style="background-color: #c44e4e; vertical-align: middle">
          <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of dataSource">
            <td>{{ group.firstName }}</td>
            <td>{{ transform(group.basicSalary) }}</td>
            <td>{{ group.status }}</td>
            <td>
              <div class="text-center">
                <a
                  class="see"
                  title=""
                  data-toggle="tooltip"
                  data-original-title="Edit"
                  (click)="openDetailModal(group)"
                  ><i class="material-icons">visibility</i></a
                >
                <a
                  class="edit"
                  title=""
                  data-toggle="tooltip"
                  data-original-title="Edit"
                  (click)="openEditModal(group)"
                  ><i class="material-icons"></i></a
                >
                <a
                  class="delete"
                  title=""
                  data-toggle="tooltip"
                  data-original-title="Delete"
                  (click)="openDetailDeleteModal(group)"
                  ><i class="material-icons"></i></a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalDetail">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Detail Profile</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">First Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ dataForDetailModal.firstName }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Last Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ dataForDetailModal.lastName }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ dataForDetailModal.username }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ dataForDetailModal.email }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Group</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ dataForDetailModal.group }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Birth Date</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ dataForDetailModal.birthDate }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeDetailModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="close-modal"
          (click)="closeDetailDeleteModal()"
        >
          No
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Edit Data</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="editform" (ngSubmit)="onSubmit()">
          <input
            type="text"
            class="form-control hidden"
            formControlName="basicSalary"
          />
          <input
            type="text"
            class="form-control hidden"
            formControlName="description"
          />
          <input
            type="text"
            class="form-control hidden"
            formControlName="status"
          />
          <div class="form-group">
            <label for="exampleFormControlInput1">ID</label>
            <input
              type="text"
              class="form-control"
              formControlName="id"
              [ngClass]="{ 'is-invalid': submitted && f.id.errors }"
              [attr.readonly]="true"
            />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors.required">First Name required</div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">First Name required</div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlInput1">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">Last Name required</div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Username</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">Username required</div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <br />

          <div class="form-group">
            <label for="exampleFormControlInput1">Group</label>
            <select class="form-control" formControlName="group">
                <option *ngFor="let option of groupOptions" [value]="option" [selected]="option === editform.get('group')?.value">{{ option }}</option>
              </select>
            <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
              <div *ngIf="f.group.errors.required">Group required</div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlInput1">Birthdate</label>
            <input
              type="text"
              class="form-control"
              formControlName="birthDate"
              [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }"
              [disabled]="editform.get('birthDate').disabled"
            />
            <div
              *ngIf="submitted && f.birthDate.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.birthDate.errors.required">Birthdate required</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeEditModal()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
